#metrics {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right;
}
p {
  margin: 0;
}
#log {
  padding: 15px 0;
  min-height: 12px;
  line-height: 18px;
  color: #fff;
  font-family: monospace;
  white-space: normal;
  background-color: #333;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow-x: scroll;
}
#log {
  counter-reset: line-numbering;
}
#log p {
  margin: 0;
  padding: 0 15px 0 25px;
}
#log p::nth-line {
  color: yellow !important;
}
#log p a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em;
  text-align: right;
  color: #fff;
  opacity: 0.33;
}
#log a {
  display: inline-block;
  width: 35px;
  margin-left: -10px;
  text-align: right;
  cursor: pointer;
  text-decoration: none;
}

.fold-start + p {
  cursor: pointer;
}
.fold-start:not(.open) ~ p {
  visibility: hidden;
  height: 0;
  min-height: 0;
}
.fold-start + p,
.fold-end ~ p {
  visibility: visible !important;
  min-height: 16px !important;
}
.fold-start ~ p {
  background-color: #444;
}
.fold-end ~ p {
  background-color: transparent !important;
}

.green {
  color: lime;
}
.red {
  color: red;
}
.yellow {
  color: yellow;
}
